section#alert
  - if (alert.login_success) {
    p success to login. welcome!
  - }

  - if (alert.login_fail) {
    p sorry, fail to login! please confirm your username & password.
  - }

  - if (alert.logout_success) {
    p success to logout!
  - }

  - if (alert.logout_fail) {
    p sorry, fail to logout!
  - }

  - if (alert.signup_success) {
    p success to signup! please, login.
  - }

  - if (alert.signup_fail) {
    p sorry, fail to signup! maybe, the username has already existed.
  - }




