extends layout

block content
  script(src='/javascripts/jquery.ui.core.js')
  script(src='/javascripts/jquery.ui.widget.js')
  script(src='/javascripts/jquery.ui.mouse.js')
  script(src='/javascripts/jquery.ui.draggable.js')
  script(src='/javascripts/jquery.ui.droppable.js')
  script(src='/javascripts/StateMachine.js')
  script(src='/javascripts/StateView.js')
  script(src = resourcePath)
  script(src='/javascripts/main.js')
  h1= title
  p Welcome to editor