extends layout

block content
  section#sugoroku-ex
    strong= name
    さん、よろしくおねがいします!
    p sugorokuはstate chart(状態遷移図)を用いて、Webのインタフェース部分の挙動を記述できる、ビジュアルプログラミング環境です。

    p いくつかの状態を作り、それぞれ「この状况(condition)が起きたら、この状態に移動する」という形で、Webの挙動を記述できます。

    p また、それぞれの状况(condition)や状態遷移時に実行するアクションは、Javascriptで直接編集・追加ができます。(今回は実験のため、この機能は利用できません)

    p sugorokuを使うことで、
    ul
      li Webの画面を開いてから、どんな時、ユーザーのどんな動作を待っているのか、それぞれの場合で何が起きるのか、一覧することができる。
      li 一覧することにより、バグや処理の抜け落ちを防ぐことができる。

      li フローチャートにも近いスタイルで、プログラムそのものを記述できる。そのため、どのような動作をするプログラムなのか、他の人にも伝えやすくなる。

      li インタフェース構築を行う人と、Javascriptの機能そのものを書く人を分けることができる。


    p 以下で、画面の各部分の説明をします。

    p save...このプログラムを保存します。
    p new state...状態を追加します。好きな名前を入力して、OKを押してください。

    p 状態(state)...ひとつの状態を表しています。色の違うものが初期状態(initial)、Webの画面を開いた時点での状態です。
    ul
      li →ドラッグ&ドロップ...画面上での位置を動かします。
      li →クリック...選択。右のバーにその状態の情報が表示されます。
      li →状態名の左の●をクリック...矢印をひく=その状態から遷移する先を指定します。別の状態の●をクリックすると、繋ぎます。

    p ※そういや、自分自身に矢印向けられたら困る。デバッグ。

    form(action="/ex/" + exid + '/next', method="POST")
      h1 問1
      a(href=editorURL, target="_blank") こちらのsugoroku editor
      を使ってみて下さい。
      input(type="hidden", name="exnum", value=exnum)
      input(type="submit")