extends layout

block content
  section#sugoroku-ex
    form(action="/ex/" + exid + '/next', method="POST")
      h1 問3
      p
        投稿の機能はまだ未完成でした! 状態「投稿」と「投稿キャンセル中」を削除して下さい。

      p
        ul
          li
            エディター:
            a(href=editorURL, target="_blank")= editorURL
          li
            実行:
            a(href=demoURL, target="_blank")= demoURL

      input(type="hidden", name="exnum", value=exnum)
      input(type="submit", value="できた! (またはパス)")
      br
      ※先へ進む前に、忘れずに「save」をお願いします!!