extends layout

block content
  section#sugoroku-ex
    form(action="/ex/" + exid + '/next', method="POST")
      h1 問4
      p
        「→」を押すたびに移動する順番を、
        ul
          li home → profile → friend ではなく、
          li profile → home → friend に変えてください。

      p
        ul
          li
            エディター:
            a(href=editorURL, target="_blank")= editorURL
          li
            実行:
            a(href=demoURL, target="_blank")= demoURL

      input(type="hidden", name="exnum", value=exnum)
      input(type="submit", value="できた! (またはパス)")
      br
      ※先へ進む前に、忘れずに「save」をお願いします!!