extends _layout

block content
  h1#pagename Index
  - if (user) {
    section
      p Welcome, #{user.username} !!
  - } else {
    section
      h1 signup
      form(method="post", action="/signup")
        table
          tr
            td: label(name="username") username:
            td: input(name="username", type="text", size="30")
          tr
            td: label(name="password") password:
            td: input(name="password", type="password", size="30")
          tr
            td(colspan="2"): input(type="submit")
  - }

