extends layout

block content
  section#sugoroku-index.sugoroku-content
    - codeNames.forEach(function (codeName) {
      article.sugoroku-codebox
        h1= codeName
        footer
          ul
            li: a(href='/editor/' + codeName) edit
            li: a(href='/code/' + codeName + '-run.js') run
    - })