doctype 5
html
  head
    title= title
    block css
      link(rel='stylesheet', href='/stylesheets/style.css')
    block js
  body
    header#sugoroku-header
      h1
        a(href="/")= title
    block content