doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.8.2.js')
    script(src='/javascripts/jquery.ui.core.js')
    script(src='/javascripts/jquery.ui.widget.js')
    script(src='/javascripts/jquery.ui.mouse.js')
    script(src='/javascripts/jquery.ui.draggable.js')
    script(src='/javascripts/jquery.ui.droppable.js')
    script(src='/javascripts/StateMachine.js')
    script(src='/javascripts/StateView.js')
    script(src='/javascripts/main.js')
  body
    block content