body {
    padding: 0em; margin: 0em;
    font-family:"Lucida Grande", Helvetica, Arial, sans-serif;
    line-height: 1.5em;
}

a {
    color: #00B7FF;
}

#sugoroku-header {
    background-color:#550000;
    padding: 0.2em 0.5em;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 200;
}
#sugoroku-header h1 {
    padding: 0em; margin:0em;
    font-size: 100%;
    color: white;
    float:left;
}


.sugoroku.state {
    background-color: rgba(255, 128, 0, 0.3);
    z-index:10;
    padding:0em;
    border: solid 0.1em #ba0;
    box-shadow: 0em 0em 1em rgba(0,0,0,0.3);
}

.sugoroku.state.initialstate {
    border: solid 0.1em #b30;
}

.sugoroku.state > .name {
    background-color: #ffcc88;
    padding: 0.2em 0.5em;
    display: block;
    color: #552200;
}

.sugoroku.state.initialstate > .name{
    background-color: #f70;
    color: white;
}

.sugoroku.transition {
    color: rgba(0,0,0,0.5);
    border-top: solid 4px rgba(0,0,0,0.5);
    text-align:center;
    z-index:2;
    height: 20px;
}
.sugoroku.transition:after {
    content: "▶";
    display:block;
    text-align:left;
    padding:0em;margin:0em;
    margin-top: -36px;
    margin-left: 100%;
    color: rgba(0,0,0,0.5)
}

#infobar.sugoroku {
    width: 18em;
    height: 100%;
    background-color: rgba(200,255,200,0.8);
    position:fixed;
    right: 0em;
    z-index: 100;
    border-left: solid 0.2em rgba(190,255,100,0.8);
    padding-top: 2em;
    color: #006600;
}

#infobar.sugoroku > * {
    margin: 0em; padding: 0.5em;
}

#infobar.sugoroku h1 {
    margin: 0em; padding: 0em;
    font-size:150%;
    margin-bottom: 0.5em;
}

#infobar.sugoroku section {
    border: solid 1px #393;
    margin: 0.5em 0em;; padding: 0em;
    background-color: rgba(255, 255, 255, 0.5);
}

#infobar.sugoroku section h1{
    font-size: 100%;
    margin: 0em;padding: 0.1em 0.2em;
    background-color: #393;
    color: white;
}

#infobar.sugoroku section ul{
    display: block;
    margin: 0em; padding: 0em;
}
#infobar.sugoroku section li{
    display: block;
    margin: 0em; padding: 0em 0.5em;
    border-top: solid 1px #040;
    border-bottom: solid 1px #8c8;
}

#infobar.sugoroku section table {
    width: 100%;    
    margin: 0em; padding: 0em;
    border-collapse: separate;
    border-spacing: 0px;
}

#infobar.sugoroku section td,th {
    margin: 0em; padding: 0em 0.5em;
    border-top: solid 1px #040;
    border-bottom: solid 1px #8c8;
    text-align: left;
}
#infobar.sugoroku section td {
    border-left: dotted 1px #228822;
}


.sugoroku.state.selected {
    box-shadow: 0px 0px 1em green, 0px 0px 0.8em green;
}