body {
    background-color: white;
    line-height: 150%;
}

body,h1,h2,ul,li,header,button {
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    border-style: none;
    background-color: transparent;
}

#header {
    overflow: hidden;
    background-color: gray;    
    position: fixed;
    width: 100%;
    height: 1.5em;
    top: 0em;
    left: 0em;
    z-index: 10;
}

#header h1 {
    float: left;
    color: white;
    padding: 0em 1em 0em 0.5em;
}

#header button {
    display: block;
    float: left;
    padding: 0em 0.5em;;
    margin: 0.1em 0.5em;;
    background-color: #eee;
    cursor: pointer;
}

#header button:hover {
    background-color: orange;
    color: white;
}

#main {
    margin: 1.5em auto 0em auto;
    max-width: 500px;
    box-shadow: 0em 0em 1.5em #ccc;
}

#home {
    background-color: #fee;
    padding: 0.5em 0em;
}
#home article {
    margin: 0.5em;
    padding: 0.5em;
    background-color: white;    
}
#home article header {
    border-bottom: solid 1px gray;
}
#home article p {
    margin: 0em;
    padding: 0em;
}

#friend {
    background-color: #efe;
    padding: 0.5em 0em;
}
#friend li {
    background-color: white;
    margin: 0.5em;
    padding: 0.5em;
}
#friend li header {
    font-weight: bold;
}
#profile {
    background-color: #eef;
}

#postwindow {
    position: absolute;
    top: 1.5em;
    background-color: gray;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
}