
h1 動機
p ビジュアル言語でWebプログラミングしたいんや!

h2 しかし、何が最適?
p いろいろ回り回ったけれど、state chartを言語化するのがよさそう


h1 state chartとは
ul
  li 基本的には状態遷移機械
  li 状態の包含関係あり


h1 着目する問題
p クライアントサイドの非同期処理を読みやすくする
p
  要素取得 → Ajaxでデータとる → UIに反映 → clickでまた更新…みたいなよくある処理を図化してしまいたい

h1 実装
h2 state chartの実装 (State, SubState, Condition, Transition, Action)


h1 これからの予定
  h2 評価実験が必要
