t 名前の問題
  t decode/encode
  t run -> action + listenConditionsに対応する
  t codes resources
  t uiもよくよく考えたらおかしい
t removeConditions
t 矢印が重なる問題
  i transitionエレメントに、left/rightを付ける?
  i もう始点終点、フリー形式で入れる
    ただし、入力時にvalidationする (from/to stateのふちを通っているか)
t actionをどこに貯めて書いておくか
  i まぁactionを自由なjsで書けるようにしておく手もあるんだけど
    t それでも、現在の状態名などにアクセスはできるべき
t もっと複雑な処理(データ整形)とか、四則演算とかどうやって実現する?
t subState
  i たぶん、機能的にはもう既に動く

t concatのあたり、エラーハンドリング雑だと思う